span{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-darkest);
}

.result{
    flex-direction: column;
}

.result span{
    font-size: 30px;
    color: #782003;
}
 
.btn-restart{
    margin-left: 25%;
}