.background{
        width: 100%;
        height: 84vh;
    }
video{
        width: 100%;
        height: 100%;
        object-fit: cover;
} 
     
h1{
    color: #868383;
}
.favorite{
    position: absolute;
    top: 110px;
    left: 40%;
    width: 55%;
    box-shadow: 20px 20px 20px rgb(232, 229, 229);
}

.pagination{
    position: absolute;
    top:92%;
    right:10px;
}
 